<div align="center">
    <h4>Python Basics 1</h4>
</div>

### Identation

In [2]:
# right way to write
a = 4
b = 4
if a == b:
    print("equal variable")

equal variable

In [3]:
# wrong way to write which throw error
a = 4
b = 4
if a == b:
print("equal variable") # without space

IndentationError: expected an indented block after 'if' statement on line 4 (2596033710.py, line 5)

### Comment

##### Single Line comment:

In [11]:
# This is single line comment
print("this is singleline comment")

this is singleline comment

##### Multi Line comment:

In [10]:
"""This is Multiline Comment
Comment1
Comment2
Comment3"""

print("these are multiline comments")

these are multiline comment

In [17]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

### Text

In [19]:
'spam eggs'  # single quotes
"Paris rabbit got your back :)! Yay!"  # double quotes
'1975'  # digits and numerals enclosed in quotes are also strings

'1975'

### Naming Convention

In [12]:
# Camel style
ageEmp = 56
AgeEmp = 54

# Snake Style
age_emp = 45
Age_Emp = 28
Age_emp = 50
age_Emp = 33

# Pascal Style
AgeEmp = 85

### Assigning_Values

In [24]:
Biochem, Genetics, Immunology, Bioinformatics, MachineLearning = 10,20,30,40,50
print(Biochem, Genetics, Immunology, Bioinformatics, MachineLearning)

10 20 30 40 50

In [26]:
print(Biochem)
print(Genetics)
print(Immunology)
print(Bioinformatics)
print(MachineLearning)

10
20
30
40
50

In [25]:
print(f"{Biochem}\n{Genetics}\n{Immunology}\n{Bioinformatics}\n{MachineLearning}")

10
20
30
40
50

In [27]:
# print each variable with its corresponding value on a new line, you can use f-strings 
print(f"Biochem: {Biochem}")
print(f"Genetics: {Genetics}")
print(f"Immunology: {Immunology}")
print(f"Bioinformatics: {Bioinformatics}")
print(f"MachineLearning: {MachineLearning}")

Biochem: 10
Genetics: 20
Immunology: 30
Bioinformatics: 40
MachineLearning: 50

### DataTypes

In [30]:
Name = "Mahendra"
Age = 28
Weight = 70.5
print(f"Name: {Name}")
print(f"Age: {Age}")
print(f"Weight: {Weight}")

Name: Mahendra
Age: 28
Weight: 70.5

#### Identifying the datatypes

In [35]:
print(type(Name))
print(type(Age))
print(type(Weight))

<class 'str'>
<class 'int'>
<class 'float'>

### Data Types Conversion

In [36]:
type(Age)

int

In [38]:
fl_int = float(Age)
print(fl_int)
print(type(fl_int))

28.0
<class 'float'>

In [39]:
Int_Flt = int(Weight)
print(Int_Flt)
print(type(Int_Flt))

70
<class 'int'>

In [40]:
Salary_tier = "1"
Int_str = int(Salary_tier)
print(Int_str)
print(type(Int_str))

1
<class 'int'>

### Input Function

In [41]:
x = input("Please enter your age: ")
print("your age is:"+ x )
print(type(x))

Please enter your age: 15
your age is:15
<class 'str'>

### Print Function

In [43]:
s = 'First line \nSecond line'
s

'First line \nSecond line'

In [44]:
print(s)

First line
Second line

In [48]:
print("""\n 
Usage: thingy [OPTIONS]
      -h    Display this usage message
      -H hostname    Hostname to connect
""")

Usage: thingy [OPTIONS]
      -h    Display this usage message
      -H hostname    Hostname to connect