<div align = "center">
    <h4> DataFrame</h4>
</div>

In [1]:
class('iris')

[1] "character"

In [2]:
iris[c(1,51,101),] # is it an example of numeric and factor data-type dataframe

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
51  7.0          3.2         4.7          1.4         versicolor
101 6.3          3.3         6.0          2.5         virginica

**Creating Data Frames**

**data.frame()** function.

In [6]:
x <- data.frame(
   a=c(T, F),
b = 1:6,
c = runif(6),
d = c('spam', 'spam', 'egs'))

In [7]:
x

  a     b c         d
1  TRUE 1 0.8300855 spam
2 FALSE 2 0.2801691 spam
3  TRUE 3 0.0864786 egs
4 FALSE 4 0.4649167 spam
5  TRUE 5 0.3809227 spam
6 FALSE 6 0.5362887 egs

In [8]:
str(x)

'data.frame':	6 obs. of  4 variables:
 $ a: logi  TRUE FALSE TRUE FALSE TRUE FALSE
 $ b: int  1 2 3 4 5 6
 $ c: num  0.8301 0.2802 0.0865 0.4649 0.3809 ...
 $ d: chr  "spam" "spam" "egs" "spam" ...

In [67]:
a <- matrix(1:6, nrow = 3,dimnames=list(NULL,c('u','v')))
a

     u v
[1,] 1 4
[2,] 2 5
[3,] 3 6

In [68]:
# Let’s convert it to a data frame:
as.data.frame(a)

  u v
1 1 4
2 2 5
3 3 6

In [16]:
# Create some vectors
a <- c(1:5)
b <- c('R','Is','Fun','Lets','Learn')
c <- c(T,F,T,T,F)

# Create a new data frame
my_frame <- data.frame(a,b,c)
my_frame

  a b     c
1 1 R      TRUE
2 2 Is    FALSE
3 3 Fun    TRUE
4 4 Lets   TRUE
5 5 Learn FALSE

In [20]:
my_frame <- data.frame(Numeric = a,Characctor = b, Logical = c)
my_frame

  Numeric Characctor Logical
1 1       R           TRUE
2 2       Is         FALSE
3 3       Fun         TRUE
4 4       Lets        TRUE
5 5       Learn      FALSE

You can check and reassign column names using the **colnames()** function.

In [21]:
colnames(my_frame)
colnames(my_frame) <- c('x','y', 'z')
colnames(my_frame)

[1] "Numeric"    "Characctor" "Logical"

[1] "x" "y" "z"

create row names when creating a data frame by including the **row.names** argument and setting it equal to a character vector to be used for row names.

In [22]:
myframe <- data.frame(numeric = a, character = b, logical = c,
                     row.names = c('r1','r2','r3','r4','r5'))
myframe

   numeric character logical
r1 1       R          TRUE
r2 2       Is        FALSE
r3 3       Fun        TRUE
r4 4       Lets       TRUE
r5 5       Learn     FALSE

In [23]:
rownames(myframe)

[1] "r1" "r2" "r3" "r4" "r5"

In [24]:
rownames(myframe)<-1:5

In [25]:
rownames(myframe)

[1] "1" "2" "3" "4" "5"

In [26]:
cars <- mtcars   # Load the mtcars data 

print(cars)

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

**Summarizing Data Frames**

The **str()** function gives an overview of the structure of the Data Frame. It is useful to check the structure first, since running a full summary can take a while if you are working with a lot of data.

In [27]:
str(cars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

The **summary()** function gives summary statistics for each variable in the data frame.

In [28]:
summary(cars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

You can look at a few rows at the beginning or end of a data frame using the **head()** and **tail()** functions respectively:

In [29]:
head(cars,5) # Look at the first 5 rows of the data frame

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

In [30]:
tail(cars,5) # Look at the last 5 rows of the data frame

               mpg  cyl disp  hp  drat wt    qsec vs am gear carb
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.9 1  1  5    2
Ford Pantera L 15.8 8   351.0 264 4.22 3.170 14.5 0  1  5    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.5 0  1  5    6
Maserati Bora  15.0 8   301.0 335 3.54 3.570 14.6 0  1  5    8
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.6 1  1  4    2

Data frames support a few other basic summary operations:

In [31]:
ncol(cars)

[1] 11

In [32]:
nrow(cars)

[1] 32

In [33]:
dim(cars)

[1] 32 11

**Data Frame Indexing**: Since data frame are lists under the hood, where each list object is a column, they support the indexing operations that apply to lists that we covered in the last lesson.

In [34]:
head(mtcars[6]) # Single brackets take column slices

                  wt
Mazda RX4         2.620
Mazda RX4 Wag     2.875
Datsun 710        2.320
Hornet 4 Drive    3.215
Hornet Sportabout 3.440
Valiant           3.460

In [35]:
typeof(mtcars[6]) # And return a new data frame

[1] "list"

In [36]:
# Double brackets get the actual object at the index
head(mtcars[[6]])

[1] 2.620 2.875 2.320 3.215 3.440 3.460

In [37]:
typeof(mtcars[[6]])

[1] "double"

In [ ]:
# Column name notation in double brackets works
head( mtcars[["wt"]]  )  

# As does the $ notation
head( mtcars$wt  )

In [38]:
# column name notation in double brackets works
head(mtcars[['wt']])

[1] 2.620 2.875 2.320 3.215 3.440 3.460

In [40]:
# as does the $ notation
head(mtcars[['wt']])

[1] 2.620 2.875 2.320 3.215 3.440 3.460

Data frames also support matrix-like indexing by using a single square bracket with a comma separating the index value for the row and column. Matrix indexing allows you get values by row or specific values within the data frame:

In [41]:
# get the value at row 2 and colummn 6
cars[2:6]

                    cyl disp  hp  drat wt
Mazda RX4           6   160.0 110 3.90 2.620
Mazda RX4 Wag       6   160.0 110 3.90 2.875
Datsun 710          4   108.0  93 3.85 2.320
Hornet 4 Drive      6   258.0 110 3.08 3.215
Hornet Sportabout   8   360.0 175 3.15 3.440
Valiant             6   225.0 105 2.76 3.460
Duster 360          8   360.0 245 3.21 3.570
Merc 240D           4   146.7  62 3.69 3.190
Merc 230            4   140.8  95 3.92 3.150
Merc 280            6   167.6 123 3.92 3.440
Merc 280C           6   167.6 123 3.92 3.440
Merc 450SE          8   275.8 180 3.07 4.070
Merc 450SL          8   275.8 180 3.07 3.730
Merc 450SLC         8   275.8 180 3.07 3.780
Cadillac Fleetwood  8   472.0 205 2.93 5.250
Lincoln Continental 8   460.0 215 3.00 5.424
Chrysler Imperial   8   440.0 230 3.23 5.345
Fiat 128            4    78.7  66 4.08 2.200
Honda Civic         4    75.7  52 4.93 1.615
Toyota Corolla      4    71.1  65 4.22 1.835
Toyota Corona       4   120.1  97 3.70 2.465
Dodge Challenger    8   318.0 150 2.76 3.520
AMC Javelin         8   304.0 150 3.15 3.435
Camaro Z28          8   350.0 245 3.73 3.840
Pontiac Firebird    8   400.0 175 3.08 3.845
Fiat X1-9           4    79.0  66 4.08 1.935
Porsche 914-2       4   120.3  91 4.43 2.140
Lotus Europa        4    95.1 113 3.77 1.513
Ford Pantera L      8   351.0 264 4.22 3.170
Ferrari Dino        6   145.0 175 3.62 2.770
Maserati Bora       8   301.0 335 3.54 3.570
Volvo 142E          4   121.0 109 4.11 2.780

In [42]:
# get the second row
cars[2,]

              mpg cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4 Wag 21  6   160  110 3.9  2.875 17.02 0  1  4    4

In [43]:
# get the 6th column
cars[,6]

 [1] 2.620 2.875 2.320 3.215 3.440 3.460 3.570 3.190 3.150 3.440 3.440 4.070
[13] 3.730 3.780 5.250 5.424 5.345 2.200 1.615 1.835 2.465 3.520 3.435 3.840
[25] 3.845 1.935 2.140 1.513 3.170 2.770 3.570 2.780

In [ ]:
# Get a row by using its name
cars["Mazda RX4", ]

 # Get a column by using its name
cars[ ,"mpg"]

In [45]:
# get the row by using its name
cars['Mazda RX4',]

          mpg cyl disp hp  drat wt   qsec  vs am gear carb
Mazda RX4 21  6   160  110 3.9  2.62 16.46 0  1  4    4

In [46]:
# get the column by its name
cars[,'mpg']

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

All of the indexing methods shown in previous lessons still apply, even logical indexing.

In [51]:
cars[(cars$mpg > 25),]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2

In [52]:
cars[(cars$mpg > 30),]

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Fiat 128       32.4 4   78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4   75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4   71.1  65 4.22 1.835 19.90 1  1  4    1
Lotus Europa   30.4 4   95.1 113 3.77 1.513 16.90 1  1  5    2

In [54]:
cars[(cars$mpg > 25),]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2

In [55]:
cars[(cars$mpg < 20),]

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

In [56]:
# Subset with over 20 mpg and 70 horsepower
subset(cars, (mpg > 20) & (hp > 70))

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [60]:
cars$vs <- NULL  # Drop the column "vs"
cars$carb <- NULL # drop the column "carb"
head(cars)

                  mpg  cyl disp hp  drat wt    qsec  am gear
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 1  4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 1  4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  4
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 0  3
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  3
Valiant           18.1 6   225  105 2.76 3.460 20.22 0  3

You cannot drop rows by assigning them a value of NULL due to the way data frames are stored as lists of columns. If you want to drop rows, you can use matrix-style subsetting with the -operator.

In [61]:
cars <- cars[-c(1,3)]
head(cars)

                  cyl hp  drat wt    qsec  am gear
Mazda RX4         6   110 3.90 2.620 16.46 1  4
Mazda RX4 Wag     6   110 3.90 2.875 17.02 1  4
Datsun 710        4    93 3.85 2.320 18.61 1  4
Hornet 4 Drive    6   110 3.08 3.215 19.44 0  3
Hornet Sportabout 8   175 3.15 3.440 17.02 0  3
Valiant           6   105 2.76 3.460 20.22 0  3

**Exercise #1:**
1. Add a new column to cars called hp_per_cylinder equal to the hp column divided by the cyl column.

2. Note: Recall that we can add new objects to a list with list$new_column_name <- column_values

3. This syntax also works for data frames, since data frames are also lists

In [63]:
# 1 
cars <- mtcars
cars$hp_per_cylinder <- cars$hp / cars$cyl
summary(cars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb       hp_per_cylinder
 Min.   :0.0000   Min.   :3.000   Min.   :1.000   Min.   :13.00
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000   1st Qu.:18.33
 Median :0.0000   Median :4.000   Median :2.000   Median :22.50
 Mean   :0.4062   Mean   :3.688   Mean   :2.812   Mean   :23.00
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:26.97
 Max.   :1.0000   Max.   :5.000   Max.   :8.000   Max.   :41.88

**Exercise #2:** Create a new data frame called "high_power_cars" that is a subset of cars where hp_per_cylinder is greater than 30.

In [64]:
# 2 
high_power_cars <- cars[cars$hp_per_cylinder > 30, ]
high_power_cars

               mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Duster 360     14.3 8   360  245 3.21 3.57 15.84 0  0  3    4
Camaro Z28     13.3 8   350  245 3.73 3.84 15.41 0  0  3    4
Ford Pantera L 15.8 8   351  264 4.22 3.17 14.50 0  1  5    4
Maserati Bora  15.0 8   301  335 3.54 3.57 14.60 0  1  5    8
               hp_per_cylinder
Duster 360     30.625
Camaro Z28     30.625
Ford Pantera L 33.000
Maserati Bora  41.875

**Exercise #3:**
Notice that all the cars with high hp per cylinder have 8 cylinders. Repeat the previous exercise, but this time make a subset of low power cars with an hp_per_cylinder less than 17.

In [65]:
# 3
low_power_cars <- cars[cars$hp_per_cylinder < 17, ]
low_power_cars

               mpg  cyl disp  hp drat wt    qsec  vs am gear carb
Merc 240D      24.4 4   146.7 62 3.69 3.190 20.00 1  0  4    2
Fiat 128       32.4 4    78.7 66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7 52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1 65 4.22 1.835 19.90 1  1  4    1
Fiat X1-9      27.3 4    79.0 66 4.08 1.935 18.90 1  1  4    1
               hp_per_cylinder
Merc 240D      15.50
Fiat 128       16.50
Honda Civic    13.00
Toyota Corolla 16.25
Fiat X1-9      16.50

In [70]:
(l <- Map(
    function(x) {
        c(Min=min(x), Median=median(x),Mean=mean(x), Max=max(x))
    }, 
    split(iris[['Sepal.Length']], iris[["Species"]])
        ))

$setosa
   Min Median   Mean    Max
 4.300  5.000  5.006  5.800

$versicolor
   Min Median   Mean    Max
 4.900  5.900  5.936  7.000

$virginica
   Min Median   Mean    Max
 4.900  6.500  6.588  7.900

In [71]:
as.data.frame(l)

       setosa versicolor virginica
Min    4.300  4.900      4.900
Median 5.000  5.900      6.500
Mean   5.006  5.936      6.588
Max    5.800  7.000      7.900